#course_credits_box {
    width: 150px;
    border-radius: 5px;
    background-color: lightblue;
    padding: 5px;
    height: 55px;
}
score {
   float: left;
   font-size: 2em;
   text-align: center;
   width: 50px;
   padding-top: 0.6em;
}
#course_credits_table {
   width: 60px;
   float: right;
   font-size: 0.7em;
   text-align: right;
}
#course_credits_table tr {
   line-height: 1.2em;
}
#user_credits {
  width: 40%; 
  text-align: center;
}
#user_badge {
  margin-bottom: -14px;
}
#user_credits_score{
  font-size: 4em;
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightblue;
    border-radius: 10px;
}
#user_badge_cell {
    background-color: lightblue;
    border-radius: 10px;
    position: relative;
    left: 17px;
    padding: 5px;
}
#tick {
  font-size: 3.5em;
}
#course_name {
  font-size: 2em;
}
